/* Footer.css */
.footer {
  width: auto; /* Automatically adjust width based on content */
  background-color: #0a0a0a; /* Match the Electron window's background color */
  padding: 5px 10px; /* Adjust padding to move the buttons up */
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  align-items: center;
  position: absolute;
  bottom: 50px; /* Move the footer slightly up */
  left: 70px; /* Position it 75px to the right of the sidebar */
  border-radius: 0 10px 0 0; /* Optional: Add a slight rounding for aesthetics */
  border: none; /* Ensure no borders are visible */
}

.footer .app-store-buttons {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left within the footer */
  align-items: center;
  padding-left: 5px; /* Position the buttons more towards the left */
}
